@import '@/styles/_utils.scss';

.GaugeGraph {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  &__graph {
    width: $gaugeWidth;
  }

  &__title,
  &__info {
    position: absolute;
  }

  &__title {
    top: $gaugeInfoPlacement;
  }

  &__info {
    bottom: $gaugeInfoPlacement;
  }
}
