@import '@/styles/_utils.scss';

.Home {
  position: relative;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  padding: $pageSidePaddingL;

  &__gauges {
    margin-top: $separationGap;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    align-items: center;
    justify-content: center;
    gap: $gaugesGap;

    @include mediaMaxWidth {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    @include mediaMaxWidth(560px) {
      grid-template-columns: 1fr;
    }
  }

  &__button {
    padding: $componentInnerPaddingS $componentInnerPaddingR;

    border-radius: $containerBorderRadius;

    background-color: $c-green200;
    font-size: $fontLarge;

    transition: background-color $transitionTime;

    &:hover {
      background-color: $c-green;
    }
  }
}
