@import '@/styles/_utils.scss';

.App {
  @extend %minMaxWidthPage;
  @extend %center;
}

.loading {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: $c-gray400;
  z-index: 99;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $c-dark;
    text-align: center;
  }
}
